.link {
  cursor: pointer;
  margin: 0 5px;
  &_active {
    color: rgba(0, 120, 0, 0.4);
  }
  &:hover {
    color: rgba(231, 74, 2, 0.596);
  }
}

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  height: 100%;
}